<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>COLORS VIEW</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <h1>COLORS PALLET WEBSITE</h1>
      <nav>
        <a href="/home">HOME</a><br>
        <a href="/colors">COLORS</a><br>
        <a href="/blue">BLUE</a><br>
        <a href="/yellow">YELLOW</a><br>
        <a href="/grayscale">GRAYSCALE</a><br>
        <a href="/random">RANDOM</a><br>
      </nav>
    </header>

    <%- body %>

    <footer>
      <p>Made with Love by David</p>
    </footer>
  </body>
</html>
