<h2>YELLOW CATEGORY</h2>

<ul>
  <% colorsArray.forEach((color)=>{ %>
  <%  if (color.category==='yellow'){  %>
      <div class='allColors' style='background-color: <%= color.hex%>'>%>
        <li>
    <%=      color.keyword; %>
      <%=    color.hex; %>
        </li>
      </div>
  <%  } %>
 <%  }) %>
</ul>
